version: '3.8'

services:
  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"  # Mapping host 5000 to container 5000
    environment:
      MONGODB_URI: mongodb://mongo:27017/user-service
      JWT_SECRET: b33a46803a472c02713158675d76c716297406872a6c6e80092fa1fcec03fe1d
      PORT: 5000
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
